<%= form_with(model: profile, url: profile_url, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field condition_item_style">
    <p><%= form.label :about_me %></p>
    <%= form.text_area :about_me, id: :profile_about_me, class: 'coolform' %>
  </div>

  <div class="field">
  <p><%= form.label :first_name %></p>
    <%= form.text_field :first_name, id: :profile_first_name, class: 'coolform'%>
  </div>

  <div class="field">
  <p><%= form.label :last_name %></p>
    <%= form.text_field :last_name, id: :profile_last_name, class: 'coolform' %>
  </div>

  <div class="field">
    <p><%= form.label :username %></p>
    <%= form.text_field :username, id: :profile_username, class: 'coolform' %>
  </div>

  <div class="field">
    <p><%= form.label :address %></p>
    <%= form.text_field :address, id: :profile_address, class: 'coolform' %>
  </div>
<br>
  <div class="field">
    <%= form.label :avatar_data %>
    <%= form.file_field :avatar, id: :profile_avatar_data %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<br>
<% end %>
