<p id="notice"><%= notice %></p>

<h1>Profiles</h1>
    <% @profiles.each do |profile| %>
      <%= link_to user_path(profile.user.id) do%>
        <img class='profile_image'src="<%= profile.avatar_url%>">
      <%end%>

        <% if profile.user == current_user%>

        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    <% end %>


<div class="row">
  <div class="col-md-9">
    <ul class='coolbeans' id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="card card-primary">
      <div class="card-heading">
        <h3 class="card-title">User list</h3>
      </div>
      <div class="card-body">
        <ul>
          <% @users.each do |user| %>
            <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
            <strong> <% user.id %></strong>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>



<%#= link_to 'New Profile', new_profile_path %>
