<div class="backingcolor">
<div class='profile_styles'>

<div class="profile_container col-12 mx-auto">
<div class='cool'>
  <img class='profile_image'src="<%= @profile.avatar_url%>">
</div>
</div>


  <h1 class="view_profile"><%=@profile.username%></h1>

<div class='puffles col-12 col-md-12'>
<% if @profile.id != current_user.id%>
  <%= link_to 'Message Me', conversations_path(user_id: @user), remote: true, method: :post, class: 'btn btn-primary communication' %>
<%end%>
<%= link_to "Items for Sale", equipment_path(user_id: @user), class: "btn btn-primary"%>
<%= link_to 'Book a Show', new_offer_path(profile_id: @profile.id), class: "btn btn-primary"%>
<!-- <button type="button" class="btn btn-primary">Items for Sale</button> -->
</div>


<h2 class="decorated"> <span>About the DJ</span></h2>
<p class="about_the_dj col-10 col-12">
  <%= @profile.about_me %>
</p>



<h2 class="decorated"> <span>Reviews</span></h2>
<div class="styling_reviews">
  <% @profile.reviews.each do |review|%>
  <img class='little_icons' src='<%=review.user.profile.avatar_url%>'>
  <h3 class="styling_reviews"><%= link_to "#{review.user.profile.username}", user_path(review.user_id)%></h3>
    <br>
  <h4 class="styling_reviews" ><%= review.content %></h4>
    <br>
      <% if review.user.id == current_user.id%>
      <%#= link_to 'delete', [review.user, review],
                       method: :delete,
                       data: { confirm: 'Are you sure?' }%>
      <% end %>
  <% end %>
</div>




<div class="review_sheet">
<%= form_for ([@user, @user.reviews.new]) do |f| %>
          <!-- <%#= f.label :comments %><br/> -->
  <%= f.text_field :content,:class => "form_review", placeholder: "Add a review" %>
<%end%>
</div>

<!-- <div id='map' style='width: 50%; height: 20%'></div> -->


  <div class="col-md-9 mx-auto profile_card">
    <ul class='coolbeans' id="conversations-list">
    </ul>
</div>




<!-- <p>
  <strong>First name:</strong>
  <%#= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%#= @profile.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%#= @profile.username %>
</p>  -->
<!-- <#% if @profile.id != current_user.id%> -->
  <!-- <iframe width="90%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122923868&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe> -->
<!-- <#%end%> -->





<% if @profile.id == current_user.id%>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', users_path %>
<%end%>
<%#= link_to 'Contact', contact_profile_path(@profile.user.id) %>
</div>
</div>
<script>
          function initialize() {
            var location = {lat: <%= @profile.latitude %>, lng: <%= @profile.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              center: location,
              zoom: 14
            });
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
            infoWindow.open(map, marker);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
      </script>
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMjqtFl3iPmZrjcaLdps6Yyl28PMfRxWE&callback=initMap">
</script>
