<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form.hidden_field :profile_id, :value => params[:profile_id]%>
<br>
  <div class="field">
    <p><%= form.label :date %></p>
    <%= form.date_select :date, id: :offer_date,  class: 'coolform' %>
  </div>
<br>
  <div class="field">
  <p> <%= form.label :details %></p>
    <%= form.text_area :detail, id: :offer_detail, class: 'coolform' %>
  </div>
<br>

  <div class="field">
    <%= form.label :type_of_event %>
    <%= form.select :event, ["16th", "18th", "21st", "Corporate", "Club"]%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<br>
<% end %>
