<p id="notice"><%= notice %></p>
<div class="container-fluid show_offer_page">

<p class='item_show_condition'>
<span class='item_underline'><strong>Party Hoster</strong></span>: <%= @offer.user.profile.username %>
</p>

<p class='item_show_condition'>
<span class='item_underline'><strong>DJ</strong></span>:  <%= @offer.profile.username %>
</p>

<p class='item_show_condition'>
  <span class='item_underline'><strong>Details</strong></span>: <%= @offer.detail%>
</p>

<p class='item_show_condition'>
  <span class='item_underline'><strong>Date of Event</strong></span>: <%= @offer.date %>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
</div>
