<div class='stripe_box'>
<%= form_tag charge_item_path do %>
  <article class="stripe_styling">
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @item.description%>"
          data-amount="<%=@item.price*100%>"
          data-email="<%= current_user.email %>"
          data-locale="auto"></script>
<% end %>
</div>
