<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">

    <p><%= form.label :name %></p>
    <%= form.text_field :name, id: :item_name, class: 'coolform' %>
  </div>
<br>
  <div class="field condition_item_style">
    <p><%= form.label :item_condition, class: 'condition_item_style' %></p>
    <%= form.text_area :description, id: :item_description, class: 'coolform' %>
  </div>
<br>
  <div class="field">
  <p><%= form.label :model_year %></p>
    <%= form.number_field :version, id: :item_version, class: 'coolform'%>
  </div>
<br>
  <div class="field">
  <p><%= form.label :price %></p>
    <%= form.number_field :price, id: :item_price, class: 'coolform' %>
  </div>
<br>
  <div class="field">
    <p><%= form.label :image_data %></p>
    <%= form.file_field :image, id: :item_image_data, class: 'center_button'%>
  </div>
<br>
  <div class="field">
    <%= form.label :brand %>
    <%= form.select :category, ["Sony", "Pioneer", "Ableton", "Yamaha"]%>
  </div>
<br>
  <div class="actions">
    <%= form.submit class:'submit_button' %>
  </div>
  <br>
<% end %>
