<div class="backingcolor">
<div class='item_styles'>
<div class="container-fluid dj_equipment item_owner">
<div class="row mx-auto">
<% @items.each do |item| %>
  <div class="card col-12 col-md-4 space_jam">
    <img class="card-img-top" src="<%= item.image_url%>" alt="Card image cap">
    <div class="card-block">
      <p class="card-text item_condition">Name</p>
    <p class="card-text description_of_item"><%= item.name%></p>
     <p class="card-text item_condition">Sold By</p>
     <p class='card-text'>
      <span><img class='little_icons' src='<%=item.user.profile.avatar_url%>'></span><%= link_to "#{item.user.profile.username}", user_path(item.user.id), class: 'username_styling' %>
    </p>
      <!-- <p class="card-text item_condition">Item Condition</p>
      <p class="card-text description_of_item"><%#=item.description%></p> -->
      <p class="card-text">$<%=item.price%></p>
    <%= link_to 'Show', item_path(item) %>
    </div>
  </div>
  <% end %>
  </div>
</div>
</div>
