<p id="notice"><%= notice %></p>

<h1>Items</h1>
<!--
    <#% @items.each do |item| %>
        <#%= link_to item do%>
          <img class="instaimage col-md-4"src="<#%= item.image_url%>">
        <#%end%>
    <#% end %>

<br> -->

<%= link_to 'New Item', new_item_path %>

<div class="container">
<div class="row">
<% @items.each do |item| %>
  <div class="card col-12 col-md-4">
    <img class="card-img-top" src="<%= item.image_url%>" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title"><%=item.description%></h4>
      <p class="card-text">$<%=item.price%></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <% end %>
  </div>
</div>
