
<% if current_user == nil%>
<%= render 'items/new_nav' %>
<% end %>

<div class="home align-content-center">
      <img src ="/djmusiccrowd.jpg" alt"chilled" class="landing">
</div>


<h1 class="decorated selling_items"><span>DJ Equipment for Sale</span></h1>

<div class="container_items">
<% if  user_signed_in? %>
  <%= link_to 'New Item', new_item_path, class: 'btn btn-primary'%>
  <%end%>
</div>

<% if @items.blank? %>
  <h4 class="search_error">There are no items containing the term <%= params[:search] %>.</h4>
<% end %>


<div class="container-fluid dj_equipment">
<div class="row mx-auto">
<% @items.each do |item| %>
  <div class="card col-12 col-md-4  space_jam">
    <%= link_to item do %>
    <img class="card-img-top" src="<%= item.image_url%>" alt="Card image cap">
    <%end%>
    <div class="card-block">
      <p class='item_show_condition'>
      <span class='item_underline'><strong>Item</strong></span>: <%= item.name %>
      </p>
      <p class='item_show_condition'>
      <span class='item_underline'><strong>Sold by</strong></span>:<span><img class='little_icons' src='<%=item.user.profile.avatar_url%>'></span><%= link_to "#{item.user.profile.username}", user_path(item.user.id), class: 'username_styling' %>
      </p>
      <p class='item_show_condition'>
      <span class='item_underline'><strong>Brand</strong></span>:  <%= item.category %>
      </p>
      <p class='item_show_condition'>
        <span class='item_underline'><strong>Price</strong></span>: $<%= item.price %>
      </p>

        <%if item.user == current_user %>
        <%= link_to 'Edit', edit_item_path(item) %></td>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
  </div>
  <% end %>
  </div>
</div>
