<p id="notice"><%= notice %></p>


<p>
  <strong>User:</strong>
  <%= @item.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image data:</strong>
  <img src="<%= @item.image_url%>">
</p>

<div class="row">
  <div class="col-md-9">
    <ul class='coolbeans' id="conversations-list">
    </ul>
  </div>

    <% if @item.user != current_user %>
    <li><%= link_to @item.user.email, conversations_path(user_id: @item), remote: true, method: :post %></li>
    <% end%>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
