<p id="notice"><%= notice %></p>


<div class="card mx-auto col-12 col-sm-7">
  <img class="card-img-top" src="<%= @item.image_url%>" alt="Card image cap" id="img">
  <div class="card-body">
    <%=@item.description%>
  </div>
</div>


<div class="wrap" id="wrap">
  <div class="prev">
     <p class ="john_smells">
        <img src="/meme-dj-donald-trump.png" width="400px" id="img"/>
        <h4>Click to close</h4>
     </p>
  </div>
</div>

<p>
<strong>Name:</strong>
<%= @item.name %>
</p>

<p>
  <strong>Brand</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.profile.username %>
</p>

</div>


<%= render 'charge'%>



    <div class="overlay" id="overlay"></div>


  <script type="text/javascript" src="photo.js"></script>

<%= link_to 'Profile', user_path(@item.user.id)%>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
