<p id="notice"><%= notice %></p>

<div class="container-fluid show_item_page">
<div class="card mx-auto col-12 col-sm-7">
  <img class="card-img-top" src="<%= @item.image_url%>" alt="Card image cap" id="img">
  <!-- <div class="card-body">
    <%#=@item.description%>
  </div> -->
</div>


<div class="wrap" id="wrap">
  <div class="prev">
     <p class ="john_smells">
        <img src="/meme-dj-donald-trump.png" width="400px" id="img"/>
        <h4>Click to close</h4>
     </p>
  </div>
</div>

<p class='item_show_condition'>
<span class='item_underline'><strong>Item</strong></span>: <%= @item.name %>
</p>

<p class='item_show_condition'>
<span class='item_underline'><strong>Sold by</strong></span>: <span><img class='little_icons' src='<%=@item.user.profile.avatar_url%>'></span><%= @item.user.profile.username %>
</p>


<p class='item_show_condition'>
<span class='item_underline'><strong>Brand</strong></span>:  <%= @item.category %>
</p>

<p class='item_show_condition'>
  <span class='item_underline'><strong>Condition</strong></span>: <%= @item.description %>
</p>

<p class='item_show_condition'>
  <span class='item_underline'><strong>Price</strong></span>: $<%= @item.price %>
  <p class='contact_seller'><%= link_to 'Message Me',user_path(@item.user.id), class:'btn btn-primary communication' %></p>
  <%= render 'charge'%>
</p>


</div>






    <div class="overlay" id="overlay"></div>


  <script type="text/javascript" src="photo.js"></script>

</div>
