<!DOCTYPE html>
<html>
  <head>
    <title>Grate</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMjqtFl3iPmZrjcaLdps6Yyl28PMfRxWE&callback=initMap">
   </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Maven+Pro|Play');
    </style>
  </head>
  <style>
    .searchbar[type=text] {
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #66FCF1;
      border-radius: 4px;
      height: 30px;
      font-size: 16px;
      background-color:#1F2833;
      background-image: url('searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }
    .searchbar[type=text]:focus {
        width: 100%;
    }
</style>
  <!-- <p class="notice"><%#= notice %></p>
  <p class="alert"><%#= alert %></p> -->
  <body>

    <% if user_signed_in?%>
      <%= render 'profiles/nav' %>
    <% end %>
    <%= yield %>

    <%= javascript_include_tag ('photo.js') %>
  </body>
</html>
