<!DOCTYPE html>
<html>
  <head>
    <title>Grate</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMjqtFl3iPmZrjcaLdps6Yyl28PMfRxWE&callback=initMap">
   </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Maven+Pro|Play');
    </style>
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= javascript_include_tag ('photo.js') %>
  </body>
</html>
